# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment
.env
.env.local
.env.production

# Metro
.metro-health-check*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# EAS
eas-credentials/
google-services.json